<%= form_with(model:@property,local:true) do |form| %>
  <% if @property.errors.any? %>
    <div class="error_display">
      <% @property.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>
  <div class="property_form">
    <p><%= form.label :name, "物件名" %></p>
    <p><%= form.text_field :name %></p>
    <p><%= form.label :rent, "賃料" %></p>
    <p><%= form.number_field :rent %>円</p>
    <p><%= form.label :place, "住所" %></p>
    <p><%= form.text_field :place %></p>
    <p><%= form.label :old, "築年数" %></p>
    <p><%= form.number_field :old %>年</p>
    <p><%= form.label :comment, "備考（任意）" %></p>
    <p><%= form.text_area :comment %></p>
  </div>
  <% if form_for_new_property? %>
    <p><%= form.submit "登録する" %></p>
  <% else %>
    <p><%= form.submit "更新する" %></p>
  <% end %>
<% end %>
<% if form_for_new_property? %>
  <p><%= link_to '戻る', 'javascript:history.back()' %></p>
<% else %>
  <p>
    <%= link_to '詳細', property_path(@property.id) %> |
    <%= link_to '戻る', 'javascript:history.back()' %>
  </p>
<% end %>
