<%= form_with(model:@property,local:true) do |form| %>
  <div class="property_form">
    <p><%= form.label :name, "物件名" %></p>
    <p><%= form.text_field :name %></p>
    <p><%= form.label :rent, "賃料" %></p>
    <p><%= form.number_field :rent %>円</p>
    <p><%= form.label :place, "住所" %></p>
    <p><%= form.text_field :place %></p>
    <p><%= form.label :old, "築年数" %></p>
    <p><%= form.number_field :old %>年</p>
    <p><%= form.label :comment, "備考" %></p>
    <p><%= form.text_area :comment %></p>
  </div>
  <% if controller.action_name = "new" %>
    <p><%= form.submit "登録する" %></p>
  <% else %>
    <p><%= form.submit "更新する" %></p>
  <% end %>
<% end %>
