<%= form_with(model:@property,local:true) do |form| %>
  <div class="show_property">
    <ul class="show_list">
      <li><span class="show_item">物件名:</span> <%= @property.name %></li>
      <li><span class="show_item">賃料:</span> <%= delimit(@property.rent) %>円</li>
      <li><span class="show_item">住所:</span> <%= @property.place %></li>
      <li><span class="show_item">築年数</span> <%= @property.old %>年</li>
      <li><span class="show_item">備考</span> <%= @property.comment %></li>
    </ul>
  </div>
  <div class="show_station">
    <% @stations.each do |station| %>
      <ul class="show_list">
        <h2>最寄り駅</h2>
        <li><span class="show_item">路線名</span> <%= station.line_near %></li>
        <li><span class="show_item">駅名</span> <%= station.station_near %></li>
        <li><span class="show_item">徒歩分数</span> <%= station.minutes_needed %>分</li>
      <ul>
    <% end %>
  </div>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :rent %>
  <%= form.hidden_field :place %>
  <%= form.hidden_field :old %>
  <%= form.hidden_field :comment %>
  <%= form.fields_for :stations do |s| %>
    <%= s.hidden_field :line_near %>
    <%= s.hidden_field :station_near %>
    <%= s.hidden_field :minutes_needed %>
    <%= s.hidden_field :property_id %>
  <% end %>
  <p><%= form.submit '登録' %></p>
  <p><%= form.submit '戻る', name:"back" %></p>
<% end %>
