<h1>物件一覧</h1>
<table>
  <tr>
    <th class="property_name">物件名</th>
    <th class="property_rent">賃料</th>
    <th class="property_place">住所</th>
    <th class="property_old">築年数</th>
    <th class="property_comment">備考</th>
  </tr>
  <% @properties.each do |property| %>
    <tr>
      <td><%= property.name %></td>
      <td><%= property.rent %></td>
      <td><%= property.place %></td>
      <td><%= property.old %></td>
      <td><%= property.comment %></td>
      <td class="property_links"><%= link_to '詳細', properties_path %></td>
      <td class="property_links"><%= link_to '編集', properties_path %></td>
      <td class="property_links"><%= link_to '削除', properties_path %></td>
    </tr>
  <% end %>
</table>
