<ul class="show_list">
  <li>物件名: <%= property.name %></li>
  <li>賃料: <%= display_yen(property_rent) %></li>
  <li>物件名: <%= property.name %></li>
  <li>物件名: <%= property.name %></li>
  <li>物件名: <%= property.name %></li>
</ul>
