<div class="show_property">
  <ul class="show_list">
    <li>物件名: <%= @property.name %></li>
    <li>賃料: <%= delimit(@property.rent) %>円</li>
    <li>住所: <%= @property.place %></li>
    <li>築年数 <%= @property.old %>年</li>
    <li>備考 <%= @property.comment %></li>
  </ul>
</div>
